.ForgetPassword{
    height: 100vh;
    margin-top: 150px;
}

.ForgetPassword .container{
    background-color: white;
    border-radius: 7px;
    padding: 20px;
}

.hold_inputs{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.hold_inputs input{
    width: 60px;
    height: 60px;
    border-radius: 7px;
    border: 1px solid rgb(127, 127, 127);
    text-align: center;
}

.hold_inputs input:focus{
    outline: none;
}

.hold_p{
    text-align: center;
}

.verfiyOTP{
    margin: auto;
    display: block;
    text-decoration: none;
    border: 1px solid #37c737;
    color: white;
    background-color: #37c737;
    padding: 10px;
    border-radius: 7px;
    width: 140px;
    text-align: center;
    margin-top: 30px;
}




.alertt {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ff9800;
    color: white;
    margin-bottom: 15px;
  }

  .alerttEmail{
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ff9800;
    color: white;
    margin-bottom: 15px;
  }

  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }